.filters-section {
  width: 100vw;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h2 {
    font-size: 26px;
    font-weight: normal;
  }

  .mobile {
    width: 100%;
    display: flex;

    button {
      width: 50%;
      height: 40px;
      font-size: 20px;

      background-color: white;
      border: 1px solid $gray-3;
      color: $gray-3;

      &:hover {
        filter: brightness(0.98);
        cursor: pointer;
      }
    }
    .filter-button {
      border-right: 0px solid transparent;
    }
  }
  .desktop {
    display: none;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10vw;

    .mobile {
      display: none;
    }
    .desktop {
      display: flex;

      select {
        padding: 6px;
        height: 40px;
        background-color: white;
        border: 1px solid $gray-3;
        color: $gray-2;

        &:hover {
          filter: brightness(0.98);
          cursor: pointer;
        }

        option {
          height: 40px;
        }
      }
    }
  }
}
