.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: $shadow;

  & > div {
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow-y: scroll;
    padding-bottom: 40px;

    header {
      width: 100vw;
      height: 70px;
      padding: 10px 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 2px solid $gray-1;

      h2 {
        font-weight: normal;
        color: $gray-2;
        font-size: 24px;
      }

      button {
        border: none;
        background-color: white;
        color: black;
        font-size: 24px;
        border-radius: 50%;
        width: 30px;

        &:hover {
          filter: brightness(0.95);
          cursor: pointer;
        }
      }
    }
    p {
      background-color: white;
      width: 100%;
      padding: 15px 20px;
      font-size: 20px;
      color: black;
      cursor: pointer;

      &:hover {
        filter: brightness(0.95);
      }
    }
    details {
      summary {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
      }
      fieldset {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        input[type="checkbox"],
        input[type="radio"] {
          padding: 0.5em;
          appearance: none;
          outline: 0.1em solid $gray-3;
          outline-offset: 0.1em;
        }

        input[type="checkbox"] {
          translate: 0px 4px;
        }

        input[type="checkbox"]:checked,
        input[type="radio"]:checked {
          display: inline-block;
          background-color: $light-blue;
        }

        input,
        label {
          cursor: pointer;
        }

        legend {
          margin-bottom: 10px;
        }
      }
      & > div {
        display: flex;
        padding: 0px 20px;
        flex-wrap: wrap;
        width: 180px;
        gap: 5px;
        button {
          background-color: white;
          border: 1px solid $gray-3;
          color: $gray-3;

          width: 30px;
          height: 30px;

          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            filter: brightness(0.95);
          }
        }
        .selected {
          border: 1px solid $light-blue;
          color: black;
        }
      }
    }
  }
}

.modal-filter {
  display: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.modal-order {
  display: none;
  @media (min-width: 768px) {
    display: none;
  }
}
